  .circle {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
    }

    
    .blue { background: blue; }
    .green { background: green; }
    .yellow { background: yellow; }


    .c1 { top: 10px; left: 20px; }
    .c2 { top: 40px; right: 30px; }
    .c3 { top: 120px; left: 60px; }
    .c4 { top: 80px; left: 150px; }
    .c5 { bottom: 30px; left: 50px; }